{% if contribution %}
    {% if member_contribution %}
    <article class="ui icon message lightgreen">
        <i class="check icon"></i>
        <div class="content">
            <p>Vous êtes à jour sur vos cotisations.</p>
        </div>
    </article>

    {% else %}
    <article class="ui icon message lightgreen">
        <i class="times icon"></i>
        <div class="content">
            <p>Le paiement des cotisations pour la période 2021-2022 est désormais cloturé.</p>
        </div>
    </article>
    {% endif %}

{% else %} 
    <article class="ui icon message lightbrown">
        <i class="check icon"></i>
        <div class="content">
            <!-- <p>Le paiement des cotisations pour la période 2021-2022 est désormais ouvert.</p> -->
            <p>Aucune cotisation disponible pour cette période.</p>
        </div>
    </article>
{% endif %}