.Memberships {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative; }
  .Memberships .bg {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed; }
    .Memberships .bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .Memberships .layout {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-flow: row wrap; }
    .Memberships .layout .top {
      top: 0;
      left: 0;
      z-index: 3;
      position: absolute; }
    .Memberships .layout .left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 61, 0, 0.8); }
      .Memberships .layout .left > div {
        color: #ffffffc7;
        font-size: 1.25rem;
        max-width: 800px; }
        .Memberships .layout .left > div ul {
          padding-left: 2rem; }
          .Memberships .layout .left > div ul i.icon {
            color: #ffff45;
            margin-left: -2rem; }
        .Memberships .layout .left > div b {
          color: white; }
    .Memberships .layout .middle {
      width: 60%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(148, 148, 148, 0.8);
      background-color: rgba(255, 255, 255, 0.8); }
    .Memberships .layout .right {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(148, 148, 148, 0.8);
      background-color: rgba(255, 255, 255, 0.8); }
  .Memberships .congratulations {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    max-width: 400px; }
    .Memberships .congratulations h2 {
      color: #065f46;
      font-size: 2.5rem; }

.Profil {
  min-height: calc(100vh - 5rem);
  background-color: rgba(0, 0, 0, 0.1); }
  .Profil .menu {
    margin-top: 1rem;
    background-color: white; }
    .Profil .menu .list {
      border: 1px solid rgba(128, 128, 128, 0.3); }
      .Profil .menu .list a {
        padding: 0.75rem;
        display: block;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3); }
        .Profil .menu .list a:hover {
          color: #065f46; }
      .Profil .menu .list:last-child {
        border-bottom: 0; }
  .Profil section {
    padding: 1rem;
    background-color: white; }
    .Profil section.message.lightgreen {
      background-color: #49951d9c; }
    .Profil section.message.lightbrown {
      background-color: #523303bd; }
    .Profil section.message p {
      font-size: 1.1rem;
      font-weight: bold; }
  .Profil .children .card .header .first_name {
    text-transform: capitalize; }
  .Profil .children .ui.two.buttons a,
  .Profil .children .ui.two.buttons a:hover,
  .Profil .children .ui.two.buttons a:focus,
  .Profil .children .ui.two.buttons a:visited {
    color: inherit; }
  .Profil .cotisations .cotisation {
    background-color: transparent; }
    .Profil .cotisations .cotisation .header {
      padding-top: 0; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card .image img {
      max-height: 250px;
      object-fit: cover; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards {
      padding: 1rem;
      display: inherit; }
      .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card {
        width: 250px; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card .date {
          display: none; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card .price {
          display: inline; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card .icon.add {
          display: inline; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card .icon.check {
          display: none; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought a {
          background-color: #5dbd26; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought .date {
          display: inline; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought .price {
          display: none; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought .icon.add {
          display: inline; }
        .Profil .cotisations .cotisation > .ui.cards .ui.card .plans.ui.cards .card.bought .icon.check {
          display: none; }
    .Profil .cotisations .cotisation > .ui.cards .ui.card.active .plans.ui.cards {
      display: inherit; }
    .Profil .cotisations .cotisation.past .extra.content {
      display: none; }
  @media (min-width: 1024px) {
    .Profil {
      min-height: calc(100vh - 8rem); } }

.ui.form .xsearch {
  padding: .67857143em 2.1em .67857143em 1em;
  line-height: 1.21428571em;
  z-index: 2;
  position: absolute; }

/*# sourceMappingURL=memberships.css.map */