{% extends 'memberships/profile_base.html' %}

{% block articles %}
<article>
    <h3 class="header">Bonjour, Arnaud ANGELY</h3>
    
    <section class="ui icon message lightgreen">
        <i class="times icon"></i>
        <div class="content">
            <p>Le paiement des cotisations pour la période 2021-2022 est désormais cloturé.</p>
        </div>
    </section>

    <section class="ui icon message lightgreen">
        <i class="check icon"></i>
        <div class="content">
            <p>Vous êtes à jour sur vos cotisations.</p>
        </div>
    </section>

    <section class="ui icon message lightbrown">
        <i class="check icon"></i>
        <div class="content">
            <p>Le paiement des cotisations pour la période 2021-2022 est désormais ouvert.</p>
        </div>
    </section>
</article>
{% endblock articles %}